<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav>
           <h1>Hotsite</h1>
        </nav>
    </header>

    <main class="container-fluid flex-fill">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </main>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2020 - Hotsite
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
