<div class="col-12 bloco-central my-5">
    <h3 class="row justify-content-center">Erro no sistema. Contacte o suporte</h3>
    <p class="row justify-content-center">Ops! algo inesperado aconteceu</p>
    <img src="../img/berro.gif" alt="falha" class="row justify-content-center">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-dark row">Voltar</a>
</div>