<div class="modal fade" id="dicas" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Dicas de vida saudável</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, dignissimos nihil totam sit a minima sunt adipisci quas inventore illum autem iusto asperiores iure enim. Tempore sequi a accusamus vero.</p>
          <p>Kirby recupera a saúde comendo alimentos. Existem vários itens alimentares diferentes vistos ao longo do tempo e eles diferem em quanto eles se recuperam, bem como quaisquer efeitos secundários ou power-ups que eles fornecem</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit adipisci corporis aliquid totam, itaque, id dolor magnam aperiam soluta pariatur nostrum in rem voluptatum recusandae mollitia! Doloribus magnam qui assumenda!</p>
        </div>
      </div>
    </div>
  </div>