<div class="modal fade" id="apoiadores" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Apoiadores</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body col">
            <div class="row my-2">
                <img src="../img/nintendo.webp" alt="nintendo" class="col-6 partner-img">
                <h3 class="col-6 align-self-center">Nintendo
                    <p class="desc">Nintendinho</p>
                </h3>
            </div>
            <div class="row my-2">
                <img src="../img/capcom.webp" alt="capcom"  class="col-6 partner-img">
                <h3 class="col-6 align-self-center">Capcom
                    <p class="desc">Capcom das Pancadas</p>
                </h3>

            </div>
            <div class="row my-2">
                <img src="../img/sega.webp" alt="sega"  class="col-6 partner-img">
                <h3 class="col-6 align-self-center">Sega
                    <p class="desc">Uma empresa velha</p>
                </h3>
            </div>
            <div class="row my-2">
                <img src="../img/neogeo.webp" alt="neogeo"  class="col-6 partner-img">
                <h3 class="col-6 align-self-center">Neo Geo
                    <p class="desc">Uma empresa velha</p>
                </h3>
            </div>
        </div>
      </div>
    </div>
  </div>