<div class="modal fade" id="agenda" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Dicas de vida saudável</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>10/09/2021 - Evento 1</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus deserunt excepturi ipsum necessitatibus dolorum. Magni pariatur velit, quidem maxime, neque officiis, architecto excepturi recusandae laboriosam voluptatem voluptates! Architecto, temporibus repellendus!</p>
          <h3>30/09/2021 - Evento 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, in. Modi, quis iure? Quae dolore commodi quam earum doloremque? Molestiae aliquid qui soluta nemo ex iure libero corporis praesentium quae.</p>
          <h3>17/10/2021 - Evento 3</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum tenetur necessitatibus dolore alias, at autem nam minima illo optio tempore non iste deleniti provident similique esse odit tempora? Inventore, consectetur?</p>
        </div>
      </div>
    </div>
  </div>