@model Interesse
@{
    ViewData["Title"] = "Hotsite";
}

<article class="row mx-3">
    <div class="col-xm-12 com-md-6 col-lg-7 esquerda">
        <h2>Iniciativa Saúde da Cidade</h2>
        <p class="mx-3">
            Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
        </p>
        <p class="mx-3">
            Texto sobre vida iniciativa: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
        </p>
    </div>
    
    <picture class="col-xm-12 com-md-6 col-lg-5">
        <source media="(max-width: 450px)" srcset="../img/cityp.jpg">
        <source media="(max-width: 600px)" srcset="../img/citym.jpg">
        <img src="../img/city.jpg" alt="Cidade">
    </picture>
</article>

<aside class="row mx-3">
    <div class="col-xm-12 com-md-12 col-lg-7 esquerda" id="form-box">
        <h2>Entre em contato</h2>
        <p class="mx-3">Nos mande uma mensagem e fique por dentro de nossos eventos</p>
        <form action="/Home/Cadastrar" method="POST" class="align-self-center mx-3">
            <div>
                <label asp-for="Nome">Nome:</label>
                <input asp-for="Nome" class="form-control"/>
            </div>
            <div>
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" class="form-control"/>
            </div>
            <div>
                <label asp-for="Mensagem" class="align-self-center">Mensagem (opcional):</label>
                <textarea asp-for="Mensagem" class="form-control"></textarea>
            </div>
            <div>
                <input type="submit" value="Enviar" class="my-3 botao"/>
            </div>
        </form>
    </div>
    
    <div class="col-xm-12 com-md-6 col-lg-5 align-self-center">
        <div class="row mx-3">
            <a href="#" class="co-xm-12 col-md-4 col-lg-4 text-center">
                <img src="../img/calendario.jpg" alt="Calendário" class="img-pq">
                <p>Agenda de eventos</p>
            </a>
            <a href="#" class="co-xm-12 col-md-4 col-lg-4 text-center">
                <img src="../img/dicas.jpg" alt="Kirby Saudável" class="img-pq">
                <p>Dicas de vida saudável</p>
            </a>
            <a href="#" class="co-xm-12 col-md-4 col-lg-4 text-center">
                <img src="../img/apoiador.jpg" alt="King Dedede" class="img-pq">
                <p>Apoiadores</p>
            </a>
        </div>
    </div>
</aside>