@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root{
  --cor1: rgb(99, 138, 223);
  --cor2: rgb(62, 92, 158);
  --cor3: #b7c1df;
  --cor4: #c7d2ed;
  --cor5: #eef3ff;
  --fonte-destaque:'Anton', sans-serif;
  --fonte-titulo: 'Bebas Neue', serif;
  --fonte-p: 'PT Sans', sans-serif;;
}

*{
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
}

body{
  max-height: 100%;
  font-family: var(--fonte-p);
  font-size: 1em;
  background-color: var(--cor5);
  margin: auto;
}

.col-xm-12{
  margin: 10px auto;
}


header > nav h1{
  background-image: linear-gradient(to right, var(--cor2), var(--cor1));
  font-family: var(--fonte-destaque);
  color: azure;
  max-height: 300px;
  margin-bottom: 5px;
  text-align: center;
}

h1, h2{
  font-family: var(--fonte-titulo);
  background-image: linear-gradient(to right, var(--cor1), transparent);
}

h3{
  font-family: var(--fonte-titulo);
}


article{
  margin: 5px;
}

aside{
  margin: 5px;
}

.esquerda{
  padding: 0px;
  background-color: var(--cor3);
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 80%;
}

article img{
  display: block;
  margin: auto;
}

form input{
  border-radius: 20px;
}

form label{
  padding-top:  2px;
  padding-bottom: 2px;
}

.botao{
  width: 50%;
  color: aliceblue;
  font-size: 1.2em;
  font-weight: bold;
  background-color: var(--cor1);
  padding: 10px;
  border: none;
}

.botao:hover{
  background-color: var(--cor2);
}

.badge{
  font-size: 1em;
}

footer{
  background-image: linear-gradient(to right, var(--cor2), var(--cor1));
  color: azure;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.bmodal{
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: 0.5s;
  border: none;
}

.bmodal:hover{
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
  background-color: var(--cor4);
  text-decoration: none;
  transform: scale(0.8);
  border: none;
  outline: none;
}

.bmodal:active,
.bmodal:focus{
  border: none;
  outline: none;
}

.partner-img{
  border-radius: 50%;
}

.desc{
  font-family: var(--fonte-p);
  font-size: 0.5em;
  margin-bottom: 0px;
}

.bloco-central{
  height: auto;
}

.bloco-central img,
.bloco-central a{
  display: block;
  margin: auto;
}

.bloco-central a{
  font-size: 1.2em;
  width: 100px;
  padding: 10px;
}